    {{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>El Creador {{ nombre }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquid atque consequuntur officia natus, deserunt, dolorem omnis pariatur, veniam modi dolores! Eligendi accusantium quo hic, consectetur explicabo optio corrupti culpa!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Yo.jpg" class="img-thumbnail">
        </div>
    </div>
    {{> footer }}